asyncgui==0.6.3
asynckivy==0.6.4
certifi==2025.8.3
charset-normalizer==3.4.3
docutils==0.22
ffpyplayer==4.5.3
filetype==1.2.0
idna==3.10
Kivy==2.3.1
Kivy-Garden==0.1.5
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip#sha256=f6dd87020e485c08afc63b5ed80daa2e042d3b77cc52c0fb9e5ff2b392e5948b
materialyoucolor==2.0.10
pillow==10.4.0
Pygments==2.19.2
requests==2.32.5
urllib3==2.5.0
